*{
	margin: 0;
	padding: 0;
}
.logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;	
}
.navbar{
    display: flex;
}
.nav-list{
	width: 70%;
	background-color: white;
	display: flex;
	align-items: center;
}
.nav-list li{
	list-style: none;
	padding: 26px 30px;
	
}
.nav-list li a{
	text-decoration: none;
	color: black;
	
}
.nav-list li a:hover{
	color: grey;
	
}
.rightNav{
	background-color: white;
	width: 50%;
	text-align: right;
}
#search{
	padding: 5px;
	font-size: 17px;
	border: 2px solid grey;
	border-radius: 9px;
}


.item1{
	grid-area: menu;
}
.item2{
	grid-area: main;
}

.item3{
	grid-area: down;
}
.item4{
	grid-area: left ;
}
.item5{
	grid-area: right;
}

.grid-container{
	display: grid;
	grid-template-areas: 'menu main main main main main'
	'menu main main main main main'
	'menu down down down down down'
	'menu down down down down down'
	'menu left left left right right';
	grid-gap: 10px;
	padding: 10px;
}
.grid-container > div{
	background-image: white;
	text-align: center;
	padding: 100px 0;
	font-size: 30px;
}